.input-group
{
  margin-top: 30px;
}

td, th
{
  vertical-align: middle !important;
  text-align: center !important;
}

svg
{
  height: 150px;
  max-width: 250px;
}


td:first-of-type, td:first-of-type > div
{
  height: 200px;
  width: 250px;
}